<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>Customers</span>
        <span class="action-item-spacer"></span>
        <div>
            <span>
                <a mat-raised-button color="primary" routerLink="/addcustomer">
                    <mat-icon>add_circle</mat-icon> Add New Customer                </a>
            </span>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">

    <mat-grid-list cols="3" rowHeight="3:1">
        <mat-grid-tile *ngFor="let contact of contactList">
            <mat-card class="mat-card">
                <mat-card-header>
                <mat-card-title>{{contact.name}}</mat-card-title>
                <mat-card-subtitle>{{contact.email}}</mat-card-subtitle>
                <mat-card-actions>
                    <a mat-button routerLink="/customer/{{contact.customerID}}">VIEW DETAILS</a>
                </mat-card-actions>
                </mat-card-header>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div>