<mat-toolbar color="primary">
    <mat-toolbar-row>
        <span>
            <a mat-icon-button routerLink="">
                <mat-icon>arrow_back</mat-icon>
            </a>
            Create New Customer
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<div class="container">

    <mat-grid-list cols="1" rowHeight="3:1">
        <mat-grid-tile>
            <!-- form should come-->
            <!-- Step4: Patch up the TS side with html  -->
            <form class="contact-form" [formGroup]="contactForm">
                <span *ngIf="isSaved">
                    <p>Saved Successfully</p>
                </span>
                <span *ngIf="isPresent">
                    <p style="color: red;">customerID already present</p>
                </span>
                <mat-form-field class="contact-fields-full-width">
                    <!-- step5: patch up the TS formControl with input elements -->
                    <input matInput formControlName="customerID" placeholder="Enter customerID" required>
                    <mat-error>
                        customerID is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="contact-fields-full-width">
                    <!-- step5: patch up the TS formControl with input elements -->
                    <input matInput formControlName="name" placeholder="Enter Name" required>
                    <mat-error>
                        Name is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="contact-fields-full-width">
                    <input matInput type="email" formControlName="email" placeholder="Enter E-Mail" required>
                    
                    <mat-error>Email is <strong>required</strong></mat-error>
                </mat-form-field>
                <mat-form-field class="contact-fields-full-width">
                    <input matInput formControlName="phone" placeholder="Enter Phone" required>
                    <mat-error>
                        Phone Number is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
                <div>
                    <label>Select Gender: </label>
                    <mat-radio-group aria-label="Select an option" formControlName="gender">
                        <mat-radio-button value="Male">Male</mat-radio-button>
                        <mat-radio-button value="Female">Female</mat-radio-button>
                      </mat-radio-group>
                    </div><br>
                <button mat-raised-button color="accent" (click)="onCreateCustomer()">Create Contact</button>
            </form>

        </mat-grid-tile>
    </mat-grid-list>
</div>
