<h1 mat-dialog-title>You are editing details of {{data.name}}</h1>
<div mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Enter Name" [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter Email"  [(ngModel)]="data.email"  #ref_email="ngModel" matInput type="email" email>
    <mat-error *ngIf="!ref_email.valid && ref_email.errors.required">
      Email is required
  </mat-error>
  
  <mat-error *ngIf="!ref_email.valid && ref_email.errors.email">
      Email is not valid
  </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Enter Phone" [(ngModel)]="data.phone">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Update</button>
</div>
