/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.container{
    background-color: #fafafa;
  }
  
  .action-item-spacer{
    flex: 1 1 auto;
  }

  .mat-toolbar-header{
      position: relative;
  }