<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span *ngIf='customer'>
        <a mat-icon-button routerLink="">
          <mat-icon>arrow_back</mat-icon>
        </a> {{customer.name}}
      </span>
    </mat-toolbar-row>
  </mat-toolbar>
  
  <div class="container">
  
    <mat-grid-list cols="1" rowHeight="6:2">
      <mat-grid-tile>
        
        <mat-card class="detail-card" *ngIf='customer'>
          <span *ngIf="isSaved">
            <p  style="color:green">Updated Successfully</p>
          </span>
          <mat-card-title>CustomerID: {{customer.customerID}}</mat-card-title>
          <mat-card-subtitle>Name: {{customer.name}}</mat-card-subtitle>
          <mat-card-subtitle>Email: {{customer.email}}</mat-card-subtitle>
          <mat-card-content>
            <p>Phone No:{{customer.phone}}</p>
            <p>Gender:{{customer.gender}}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="openEditDialog()" color="primary">Edit</button>
            <button mat-raised-button>Delete</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  
  </div>
